{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block navbar %}
    <div class="nav-opciones mb-3">
        <ul class="nav flex-row justify-content-between color-enlaces">
            <li class="nav-item">
                <a class="nav-link mx-5" href="#">Agregar Contrato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-5" href="{% url 'contratoCliente' %}">Contrato del Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-5" href="{% url 'contratoSeguro' %}">Contrato del Seguro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-5" href="{% url 'listarContrato' %}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-5" href="{% url 'contrato' %}">Contrato</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block contenido %}
    <section class="py-4  osahan-main-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>Listado De Contrato</h2>
                            <hr>
                            <table class="table table-condensed table-hover table-striped table-responsive-sm bg-light border text-center">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOMBRE</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>FECHA</th>
                                        <th>SEGURO 1</th>
                                        <th>SEGURO 2</th>
                                        <th>SEGURO 3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aux in listaContrato %}    
                                    <tr>
                                        <td scope="row">{{ aux.ID }}</td>
                                        <td>{{ aux.nombre }}</td>
                                        <td>{{ aux.descripcion }}</td>
                                        <td>{{ aux.fecha }}</td>
                                        <td>{{ aux.seguro1 }}</td>
                                        <td>{{ aux.seguro2 }}</td>
                                        <td>{{ aux.seguro3 }}</td>
                                        
                                        <td>
                                            <a href="{% url 'modificarContrato' aux.id %}" class="btn btn-info">Modificar</a>
                                            <a href="{% url 'eliminarContrato' aux.id %}" class="btn btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}