{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block navbar %}
    <div class="nav-opciones mb-3">
        <ul class="nav flex-row justify-content-between color-enlaces mx-5">
            <a class="nav-link mx-5" href="{% url 'listaSeguro' %}">Lista Seguros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-5" href="{% url 'agregarSeguro' %}">Agregar Seguro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-5" href="{% url 'contrato' %}">Consultar Contrato</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block contenido %}
    <!--Hay que crearla y por ende falta el Mocup-->
    <section class="py-4  osahan-main-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>Listado De Seguros</h2>
                            <p>puto el que lee</p>
                            <hr>
                            <table class="table table-condensed table-hover table-striped table-responsive-sm bg-light border text-center">
                                <thead>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>NOMBRE</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>PRECIO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aux in listaSeguro %}    
                                    <tr>
                                        <td scope="row">{{ aux.codigo }}</td>
                                        <td>{{ aux.nombre }}</td>
                                        <td>{{ aux.descripcion }}</td>
                                        <td>{{ aux.precio }}</td>
                                        <td>
                                            <a href="{% url 'modificarSeguro' aux.codigo %}" class="btn btn-info">Modificar</a>
                                            <a href="{% url 'eliminarSeguro' aux.codigo %}" class="btn btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}