{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block contenido %}
<div class="row">
    <div class="col-lg-6 col-sm-6 col-12">
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-12">
                <label for="formControlInput" class="form-label">Cliente:</label>
                <input type="email" class="form-control" id="formControlInput" placeholder="name@example.com">
                <br>
                <label for="formControlInput" class="form-label">Destino:</label>
                <input type="email" class="form-control" id="formControlInput" placeholder="name@example.com">
                <br>
                <form>
                    <label for="date" class="col-12 col-form-label">Fecha de viaje:</label>
                    <div class="col-12">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control" id="date"/>
                        <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                        </span>
                    </div>
                    </div>
                </form>
                <br>
                <label for="formControlInput" class="form-label">N° de Alumnos:</label>
                <input type="number" class="form-control" id="formControlInput" placeholder="0">
                <br>
                <label for="formControlInput" class="form-label">Servicios:</label>
                <select class="form-select form-select-sm" aria-label="Small select">
                    <option selected="">Seleccione</option>
                    <option value="1">Seguros</option>
                    <option value="2">Beneficios</option>
                    <option value="3">Otro</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-12">
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-12">
                <label for="formControlInput" class="form-label">Tipo de Actividad:</label>
                <input type="email" class="form-control" id="formControlInput" placeholder="name@example.com">
                <br>
                <label for="formControlInput" class="form-label">Otro dato relevante:</label>
                <input type="email" class="form-control" id="formControlInput" placeholder="name@example.com">
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-12">
        <br>
        <div class="d-flex justify-content-end">
          <button type="button" name="" id="" class="btn btn-danger">Limpiar</button>
          <button type="button" name="" id="" class="btn btn-success mx-2">Geenerar Contrato</button>
        </div>
    </div>
</div>

{% endblock %}