{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}
    <div class="col-lg-12 col-12">
        <div class="general-cards d-flex">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa-solid fa-plane"></i>  &nbsp; "Nombre del Cliente" </h4>
                    <a href="#" class="btn btn-success btn-block mt-4">Consultar Contrato</a></li>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa-solid fa-plane"></i>  &nbsp; "Nombre del Cliente" </h4>
                    <a href="#" class="btn btn-success btn-block mt-4">Consultar Contrato</a></li>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa-solid fa-plane"></i>  &nbsp; "Nombre del Cliente" </h4>
                    <a href="#" class="btn btn-success btn-block mt-4">Consultar Contrato</a></li>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa-solid fa-plane"></i>  &nbsp; "Nombre del Cliente" </h4>
                    <a href="#" class="btn btn-success btn-block mt-4">Consultar Contrato</a></li>
                </div>
            </div>
        </div>
    </div>
{% endblock %}